# General
*.o
*.a
*~
vgcore*
Makefile

# Unit Tests
*.gcno
*.gcda
*.gcov
__pycache__
units
coverage
client_tests_run
server_tests_run

# cmake
.idea/
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
*.cbp
cmake_install.cmake
Testing/
CTestTestfile.cmake
feature_tests.c
CMakeCCompilerId.c
bin/

# Project
r-type_client
r-type_server
build

#conan
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
